/*footer*/

/* .below {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
} */
/* .container-foot {
  align-items: baseline;
  display: flex;
  margin-left: 156px;
} */
/* .footer-container {
  margin-right: 120px;
} */

/* .text-logo {
  color: #f4f4fd;
} */
/* .f-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .footer-logotext {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
} */
/* .bottom {
  display: inline-block;
  margin-bottom: 16px;
} */
/* .f-logo:hover,
.f-logo:focus {
  color: var(--iris-color);
} */

/* .footer-list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 16px;
} */

/* .footer-socials-text {
  color: #fff;
  display: flex;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* .footer-socials-item {
  width: 40px;
  height: 40px;
} */

/* .footer-socials-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
} */
/* .footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
} */

/* .footer-socials-svg {
  fill: #f4f4fd;
} */